{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1>Edit Item</h1>

<table>
	<tr>
		<td>
      <h2>{{i.name}}</h2>

      <form action= "{{url_for('editItem', category_id = category_id, item_id=i.id)}}" method = 'POST'>

      <p>Name:</p>

      <input type = 'text' size='30' name = 'name' placeholder = '{{i.name}}'>

      <p>Description:</p>

      <input type = 'text' size='300' name = 'description' placeholder = '{{i.description}}'>

      </br>
      </br>
      </br>

      <input type='submit' value='Edit'>

      </br>
      </br>

      <a href= "{{url_for('showCategory', category_id = i.category_id)}}">Cancel</a>
  </tr>
</table>
{% endblock %}
